.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
app_private.py
.env

*.log
# Python-specific
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/
*.egg
*.whl
*.manifest
*.spec
*.pyinstaller/
*.pyinstaller-manifest.txt
*.pyre/
*.pyre_metrics/
.venv/
venv/
env/
lib/
bin/
include/
share/
pip-selfcheck.json
